{% extends 'base.html' %}
{% load static %}



{% block content %}



<body>
    <div class="section header-bg">
        <div class="container">
            <div class="row">
                <div class="col ">
                      
                      <nav aria-label="breadcrumb " >
                        <ol class="breadcrumb" >
                          <li class="breadcrumb-item "><a href="/course">
                            <img src="{% static './img/Group 1000000930.png' %}">
                            Back</a></li>
                          <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
                        </ol>
                      </nav>
                      
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <h3 class="service-head">Curriculum</h3>
                </div>
            </div>
        </div>
    </div> 

    <div class="section service-section">
        <div class="container">
            <div class="row">
			
			
			
                <div class="col-sm-12 col-md-6 col-lg-6">
                   
                    <br>
					
                    <table class="table">
                        <caption >This is the basic lesson on forex trading !</caption>
                        <thead>
                          <tr>
                            <th scope="col">Topic</th>
                            <th scope="col">Duration</th>
                          </tr>
                        </thead>
                        <tbody>
						{% for x in advance %}
                          <tr>
                           <th scope="row"><a href="advancecourse{{ x.id }}"> <img src="{% static './img/Group 1000000931.png' %}" >
                            <span class="cur-text"> {{ x.title }}</span></a></th>
        
                            <td class="cur-para">{{ x.minutes }}
							
							</td>
                          </tr>
						   {% endfor %}
                        </tbody>
                      </table>
					 
					 

			
    
		 
                </div>
			
				
				
				
                            <div class="col-sm-12 col-md-6 col-lg-6 service-col wow zoomIn">
                  <div class="card cardss" style=" border: none !important; text-align: center !important;">
                    <a href="/freeclass" > <img src="{% static './img/begineers.png' %}" class="card-img-top" alt="..."></a>
                      <div class="card-body">
                        <a href="/freeclass" >  <h5 class="card-title">Beginner's Class</h5> </a>
                        <p class="card-text">
						Everything you need to know about forex, this class with …</p>
                      </div>
                      <ul class="list-group list-group-flush">
                      
                        <li class="list-group-item"><img src="{% static './img/Group 1000000931.png' %}" > <span class="cour-paras" >{{ item_count }} videos</span></li>
                        <li class="list-group-item">Beginner Class – FREE!</li>
                      </ul>
                    </div>
              </div>
			  
			  
			  
			  
                
            </div>
        </div>
    </div>
</body>
</html>




						

{% endblock %}